@using MvcApp.ViewModels
@using MvcApp.Models
@model TestViewModel

@{
    ViewBag.title = "Test";
}



<h1>@ViewBag.title</h1> 

<form>
    <label>Choose the company:</label>
    <select name="companyId" >
        @foreach(CompanyModel comp in Model.Companies)
        {
            <option value="@comp.Id">@comp.Name</option>

        }
    </select>
    <input type="submit" value="Send" />
</form>

<br />

<table>
    <tr><td>Name</td><td>Company</td><td>Age</td></tr>
    @foreach (Person p in Model.People)
    {
        <tr><td>@p.Name</td><td>@p.Work.Name</td><td>@p.Age</td></tr>
    }
</table>
